* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #333333;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    color: white;
    min-height: 100vh;
    position: relative;
}
header{
    display: inline;
    text-align: center;
}
h1{
    margin: 24px;
    align-self: center;
    font-size: 50px;
}
main {
    text-align: center;
}
section {
    font-size: 28px;
}
select {
    font-size: 32px;
}
ul{
    padding: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card { 
    width: 380px;
    height: 550px;  
    margin: 12px;
    padding: 0 12px 0 12px;
    border-radius: 8px ;
    background-color: #FFAC46;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none; 
    flex-grow: 1;
    color: #922B21;
}

p:nth-child(2){
    font-size: 32px;
}
p:nth-child(4), p:nth-child(5) {
    margin-top: 12px;
}
img {
    width: 300px;
    height: 300px;
    margin: 24px;
    border-radius: 100%;
}
footer{
    width: 100%;
    background-color: #922B21;
    position: absolute;
    bottom: 0;
}